
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.EditPage{
    height: 145vh;
}
.EditPage > .Image_container{
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50vh;
}
.EditPage > .Image_container > .Input_Area{
    padding: 1.5% 2% ;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.505);
}
.EditPage > .Image_container > .Input_Area > .Content{
    display: flex;
    flex-direction: column;
}
.EditPage > .Image_container > .Input_Area > .Content > .title{               /* Title of Input */
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
}
.EditPage > .Image_container > .Input_Area > .Content > .title > .asterick{
    color: rgba(255, 0, 0, 0.893);
}
.EditPage > .Image_container > .Input_Area > .Content > .personaName{         
    /* color: rgba(51, 51, 51, 0.66); */
    color: white;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.7vw;
    font-weight: 600;
}
.EditPage > .Image_container > .Input_Area > .Content > .personaName::placeholder{
    color: rgba(255, 255, 255, 0.736);
    font-weight: 500;
}
.EditPage > .Image_container > .Input_Area > .editImageBtn{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9vw;
    padding: 0 1%;
    height: 6vh;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.84);
    border-radius:5%;
    outline: none;
    border: none;
    margin-top: 1%;
    transition: 0.5s;
}
.EditPage > .Image_container > .Input_Area  > .editImageBtn:hover{
    color: black;
    background-color: white;
}   

.Input_container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5% 1.5% ;
    padding-bottom: 15%;
    column-gap: 3%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.Input_container > .Input{
    padding: 2% 0 5% 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    min-width: 29vw;
    min-height: 40vh;
}
.Input_container > .Input > label{
    color: rgba(51, 51, 51, 0.816);
    font-size: 1.15vw;
    font-weight: 600;
}
.Input_container > .Input > textarea{
    font-size: 1.1vw;
    min-width: 28vw;
    max-width: 30vw;
    min-height: 30vh;
    outline: none;
    background-color: transparent;
    border-radius: 1%;
    border: none;
    resize: none;
}
.Input_container > .Input > textarea::placeholder, .ql-editor.ql-blank::before {
    color: rgba(128, 128, 128, 0.76) !important;
    font-style: normal !important;
    
}
.react-quill {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ccc;   
}
.ql-toolbar {
    background: #f9f9f9;
    display: none;
}
.ql-container {
    border: 1px solid #ccc !important;
    min-height: 30vh;
    max-height: 35vh;
}
.react_quill:focus-within .ql-toolbar {
    display: block;
  }
  
  
.Submit_container{
    background-color: white;
    padding: 2% 2.5% 2% 2.5%;
    position: fixed;
    bottom: 0; 
}
.Buttons_container{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.Buttons_container > .LeftSide{
    display: flex;
    width: 50%;
}
.Buttons_container > .LeftSide > button{    
    font-size: 1.2vw;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 0, 0, 0.807);
    cursor: pointer;
    font-weight: 600;
}
.Buttons_container > .RightSide{
    width: 50%;
    display: flex;
    justify-content: end;
}
.Buttons_container > .RightSide > button{
    font-size: 1.2vw;
    margin-left: 3%;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1.5% 3%;
    border-radius: 4%;
    border: none;
    outline: none;
    font-weight: 600;
}
.Buttons_container > .RightSide > .Btn1{
    background-color: transparent;
    color: rgb(81, 78, 78);
}


.Popup{
    padding: 1% 1% 1.5% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    position: fixed;
    top: 25%;
    left: 34%;
    border-radius: 2%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

    transition: 0.8s ;
}

.Popup > .close_button{
    color: rgba(0, 0, 0, 0.655);
    margin-left: 95%;
    cursor: pointer;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.146);
    padding: 0 1.5%;
    font-size: 1.2vw;
    border-radius: 50%;
}
.Popup > .Image_container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 100%;
    height: 30vh;
}
.Popup > input{
    
    padding: 4%;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
}
.Popup > .Buttons_container{
    
    padding: 2% 6%;
    box-shadow: none;
}
.Popup > .Buttons_container > .RightSide{

    width: 30%;
}

.Popup > .Buttons_container > .RightSide > button{
    padding: 5% 10%;
    margin-left: 20%;
    border-radius: 5%;
}

.Delete_Popup{
    width: 28% ;
    padding: 1%  1.5% 0 0!important;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Delete_Popup > p{
    
    font-size: 1.5vw;
    color: rgb(45, 44, 44);
    
}
.Delete_Popup > .Buttons_container {
    justify-content: end !important;
}

.error_msg{
    color: red;
    font-weight: 400;
    font-size: 1.2vw;
}

#image_Browse_button{
    
    padding: 1.5% 2%;
    margin-top: 2%;
    margin-right: 3%;
    background-color: rgba(0, 128, 6, 0.64);
    color: white;
    border: none;
    border-radius: 5%;
    transition: 0.3s;
}
#image_Browse_button:hover{
    background-color: rgba(76, 164, 80, 0.492);
    
}